# HES secondary dataframe long to wide

icd9/10 code will be stored in a vector per eid

In [3]:
%%time

import os
import pandas as pd
import numpy as np

# icd9s

os.chdir("/temp_project/HES")

hesin_icd9s_long=pd.read_csv('ukb_hesin_diag9.tsv',delimiter='\t',encoding='utf-8')

hesin_icd9s_w=hesin_icd9s_long.set_index(['eid','record_id','arr_index']).unstack(level=2)
hesin_icd9s_w.columns = hesin_icd9s_w.columns.map('{0[0]}_arr{0[1]}'.format)
hesin_icd9s_wide=hesin_icd9s_w.reset_index()

hesin_icd9s_wide['vec_icd9s']=hesin_icd9s_wide[hesin_icd9s_wide.columns[hesin_icd9s_wide.columns.get_loc('diag_icd9_arr0'):hesin_icd9s_wide.columns.get_loc('diag_icd9_nb_arr0')]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)
hesin_icd9s_wide['vec_icd9s_nb']=hesin_icd9s_wide[hesin_icd9s_wide.columns[hesin_icd9s_wide.columns.get_loc('diag_icd9_nb_arr0'):hesin_icd9s_wide.columns.get_loc('vec_icd9s')]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)

hesin_icd9s_wide.count()

hesin_icd9s_wide_vec=hesin_icd9s_wide[['eid','record_id','vec_icd9s','vec_icd9s_nb']]
hesin_icd9s_wide_vec.columns=['eid','record_id','diag_icd9_sec','diag_icd9_nb_sec']
hesin_icd9s_wide_vec.to_csv('/projects/ps-janssen3/dsci-pa/yhuan162/temp_project/HES/ukb_hesin_diag9_wide_vec.tsv', index=False, sep='\t')

CPU times: user 9.07 s, sys: 49 ms, total: 9.12 s
Wall time: 9.11 s

In [4]:
%%time

import os
import pandas as pd
import numpy as np


# icd10s

os.chdir("/temp_project/HES")


hesin_icd10s_long=pd.read_csv('ukb_hesin_diag10.tsv',delimiter='\t',encoding='utf-8')

hesin_icd10s_long['idx'] = hesin_icd10s_long.groupby(['eid','record_id']).cumcount()
hesin_icd10s_long2=hesin_icd10s_long.drop('arr_index',axis=1)
list(hesin_icd10s_long2.columns)

hesin_icd10s_long2.columns=['eid', 'record_id', 'diag_icd10', 'diag_icd10_nb', 'arr_index']

hesin_icd10s_long3=hesin_icd10s_long2.set_index(['eid','record_id','arr_index'])

hesin_icd10s_w=hesin_icd10s_long3.unstack(level=2)

hesin_icd10s_w.columns = hesin_icd10s_w.columns.map('{0[0]}_arr{0[1]}'.format)
hesin_icd10s_wide=hesin_icd10s_w.reset_index()

hesin_icd10s_wide['vec_icd10s']=hesin_icd10s_wide[hesin_icd10s_wide.columns[hesin_icd10s_wide.columns.get_loc('diag_icd10_arr0'):hesin_icd10s_wide.columns.get_loc('diag_icd10_nb_arr0')]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)
hesin_icd10s_wide['vec_icd10s_nb']=hesin_icd10s_wide[hesin_icd10s_wide.columns[hesin_icd10s_wide.columns.get_loc('diag_icd10_nb_arr0'):hesin_icd10s_wide.columns.get_loc('vec_icd10s')]].apply(lambda x: ','.join(x.dropna().astype(str)),axis=1)

#hesin_icd10s_wide.count()

hesin_icd10s_wide_vec=hesin_icd10s_wide[['eid','record_id','vec_icd10s','vec_icd10s_nb']]
hesin_icd10s_wide_vec.columns=['eid','record_id','diag_icd10_sec','diag_icd10_nb_sec']
hesin_icd10s_wide_vec.to_csv('/temp_project/HES/ukb_hesin_diag10_wide_vec.tsv', index=False, sep='\t')

CPU times: user 18min 31s, sys: 5.34 s, total: 18min 37s
Wall time: 18min 19s

In [6]:
### example view

import os
import pandas as pd
import numpy as np

os.chdir("/temp_project/HES")

In [7]:
hesin=pd.read_csv('/temp_project/HES/ukb_hesin.tsv', sep='\t')
hesin.sort_values(by=['eid','record_id']).head(15)

,eid,record_id,admidate,anagest,anasdate,cause_icd10,cause_icd10_nb,diag_icd10,diag_icd10_nb,diag_icd9,...,epiend,epistart,matage,neocare,numbaby,numpreg,opdate,oper4,oper4_nb,operstat
708072,1000011,3352363,2010-06-01,NaN,NaN,NaN,NaN,R31,NaN,NaN,...,2010-06-01,2010-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708073,1000011,3352364,2013-10-24,NaN,NaN,NaN,NaN,M169,NaN,NaN,...,2013-10-27,2013-10-24,NaN,NaN,NaN,NaN,2013-10-24,W371,NaN,NaN
708074,1000011,3352365,2013-11-01,NaN,NaN,NaN,NaN,M7986,NaN,NaN,...,2013-11-01,2013-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708075,1000011,3352367,1999-01-10,NaN,NaN,NaN,NaN,R104,NaN,NaN,...,1999-01-11,1999-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708076,1000011,4431777,2010-07-07,NaN,NaN,NaN,NaN,R31,NaN,NaN,...,2010-07-07,2010-07-07,NaN,NaN,NaN,NaN,2010-07-07,M458,NaN,NaN
708077,1000011,4431778,2008-07-31,NaN,NaN,NaN,NaN,M674,NaN,NaN,...,2008-07-31,2008-07-31,NaN,NaN,NaN,NaN,2008-07-31,T591,NaN,NaN
708078,1000011,4431779,2013-08-12,NaN,NaN,NaN,NaN,K409,NaN,NaN,...,2013-08-13,2013-08-12,NaN,NaN,NaN,NaN,2013-08-12,T202,NaN,NaN
708079,1000011,4431780,1996-10-27,NaN,NaN,NaN,NaN,K409,NaN,NaN,...,1996-10-29,1996-10-27,NaN,NaN,NaN,NaN,1996-10-28,T212,NaN,NaN
708080,1000011,4431781,2010-06-01,NaN,NaN,NaN,NaN,R31,NaN,NaN,...,2010-06-01,2010-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708081,1000011,4431884,2013-10-24,NaN,NaN,NaN,NaN,M169,NaN,NaN,...,2013-10-27,2013-10-24,NaN,NaN,NaN,NaN,2013-10-24,W371,NaN,NaN
708082,1000011,4431885,2013-11-01,NaN,NaN,NaN,NaN,M7986,NaN,NaN,...,2013-11-01,2013-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
708083,1000011,4431886,2006-07-24,NaN,NaN,NaN,NaN,I839,NaN,NaN,...,2006-07-25,2006-07-24,NaN,NaN,NaN,NaN,2006-07-24,L852,NaN,NaN
708084,1000011,4431887,1999-01-10,NaN,NaN,NaN,NaN,R104,NaN,NaN,...,1999-01-11,1999-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
748366,1000026,436290,2009-04-17,NaN,NaN,NaN,NaN,G560,NaN,NaN,...,2009-04-17,2009-04-17,NaN,8.0,NaN,NaN,2009-04-17,A651,NaN,1.0
748367,1000026,613716,2008-08-21,NaN,NaN,NaN,NaN,G560,NaN,NaN,...,2008-08-21,2008-08-21,NaN,8.0,NaN,NaN,2008-08-21,A651,NaN,1.0

In [8]:
hesin_icd10s_wide_vec=pd.read_csv('/temp_project/HES/ukb_hesin_diag10_wide_vec.tsv', sep='\t')
hesin_icd10s_wide_vec.head(15)

        eid  record_id           diag_icd10_sec diag_icd10_nb_sec
0   1000011    3352363  Z530,N390,I10,E780,Z922               NaN
1   1000011    3352365                     Z966               NaN
2   1000011    4431777            I10,E780,Z922               NaN
3   1000011    4431778                      I10               NaN
4   1000011    4431779                 I10,Z922               NaN
5   1000011    4431780                     D176               NaN
6   1000011    4431781  Z530,N390,I10,E780,Z922               NaN
7   1000011    4431885                     Z966               NaN
8   1000011    4431886                     Z922               NaN
9   1000026     436290                     Z873               NaN
10  1000026     672320                     D221               NaN
11  1000032    1343093                     B968               NaN
12  1000032    4020757                     H443               NaN
13  1000044    1077587                     Z511               NaN
14  1000044    1105099                     Z511               NaN

In [5]:
hesin_icd10s_long=pd.read_csv('/temp_project/HES/ukb_hesin_diag10.tsv', sep='\t')
hesin_icd10s_long.sort_values(by=['eid','record_id']).head(15)

             eid  record_id  arr_index diag_icd10  diag_icd10_nb
1248259  1000011    3352363          0       Z530            NaN
1248260  1000011    3352363          1       N390            NaN
1248261  1000011    3352363          2        I10            NaN
1248262  1000011    3352363          3       E780            NaN
1248263  1000011    3352363          4       Z922            NaN
1248264  1000011    3352365          0       Z966            NaN
1248265  1000011    4431777          0        I10            NaN
1248266  1000011    4431777          1       E780            NaN
1248267  1000011    4431777          2       Z922            NaN
1248268  1000011    4431778          0        I10            NaN
1248269  1000011    4431779          0        I10            NaN
1248270  1000011    4431779          1       Z922            NaN
1248271  1000011    4431780          0       D176            NaN
1248272  1000011    4431781          0       Z530            NaN
1248273  1000011    4431781          1       N390            NaN